
@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using baocaovuonquocgia.App_Data
@using baocaovuonquocgia.Models
@{ 
    tongcuclamnghiepEntities tongcuclamnghiep = new tongcuclamnghiepEntities();
    AccountCookie accountCookie = (AccountCookie)Session["AccountCookie"];
    var _Account = tongcuclamnghiep.m_account.Where(a => a.id == accountCookie.Id).FirstOrDefault();
}
<div class="container-fluid content-profile">
    <div class="section-heading">
        <h1 class="page-title">Trang thông tin cá nhân</h1>
    </div>
    <form method="post">


        <div class="profile-section">
            <div class="clearfix">
                <!-- LEFT SECTION -->
                <div class="left">
                    <h2 class="profile-heading">Thông tin</h2>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" value="@_Account.username" disabled="">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" value="@_Account.email" disabled="">
                    </div>
                    <div class="form-group">
                        <label>Họ và Tên</label>
                        <input type="text" class="form-control" value="@_Account.fullname" disabled="">
                    </div>
                    <div class="form-group">
                        <label>Giới tính</label>
                        <input type="text" class="form-control" value="@(_Account.gender==true ? "Nam" : "Nữ")" disabled="">
                    </div>
                </div>
                <!-- END LEFT SECTION -->
                <!-- RIGHT SECTION -->
                <div class="right">
                    <h2 class="profile-heading">Thay đổi mật khẩu</h2>
                    <div class="form-group">
                        <label>Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" id="MatKhauCu" name="MatKhauCu" required>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input type="password" class="form-control" id="MatKhauMoi" name="MatKhauMoi" required>
                    </div>
                    <div class="form-group">
                        <label>Nhập lại mật khẩu mới</label>
                        <input type="password" class="form-control" id="ReMatKhauMoi" name="ReMatKhauMoi" required>
                    </div>
                    <p class="text-red" style="color: red">@Html.ValidationMessage("")</p>
                </div>
                <!-- END RIGHT SECTION -->
            </div>
            <p class="margin-top-30">
                <button type="submit" class="btn btn-primary" id="thaydoimatkhau">Thay đổi mật khẩu</button>
            </p>
        </div>
    </form>
</div>
@section scripts
{
    <script type="text/javascript">
        var password = document.getElementById("MatKhauMoi")
            , confirm_password = document.getElementById("ReMatKhauMoi");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
    </script>
}
